body {
    font-family: "Times New Roman", sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(252, 247, 216);
}

h1 {
    font-family: "Cooper Black", sans-serif;
    text-align: center;
    padding: 20px;
    background-color: rgb(60, 111, 141); /* Example blue color */
    color: white;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
}
.viz-container {
    display: flex;
    align-items: flex-start; /* Aligns items at the top */
    justify-content: space-between; /* Adds space between the two child elements */
}

.description {
    flex: 2; /* Takes up 1 part of the space */
    padding-right: 20px; /* Adds some spacing between the text and the visualization */
}

.tableau-viz {
    flex: 3; /* Takes up 3 parts of the space, making it larger than the description */
}

.navigation {
    text-align: center;
    margin-bottom: 20px;
}

.navigation a {
    padding: 5px 10px;
    text-decoration: none;
    color: #000;
}

.navigation a:hover {
    text-decoration: underline;
    color: blue;
}

.carousel {
    margin: auto; /* Center the carousel horizontally */
    max-width: 90%; /* Limiting the width of the carousel */
}

.carousel-inner img {
    width: 100%; /* Ensure images are responsive */
    height: auto; /* Maintain aspect ratio */
}

.authors {
    font-size: 16px;
    margin-top: 0;
}
