body {
    font-family: "PT Sans Narrow", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    align-items: center;
    justify-content: center;
    width: 100%;
}

.introduction{
    width: 90%;
    padding: 10px;
    margin: auto; /* Adjusts margin for top and bottom spacing */
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-size: 16px;
}


h1 {
    font-family: "PT Sans Narrow";
    text-align: center;
    padding: 20px;
    background-color: darkslateblue;
    color: white;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

h2 {
    text-align: center;
    color: #333;
}

.viz-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Aligns children in the center of the container vertically */
    align-items: center; /* Aligns children in the center of the container horizontally */
    margin-top: 20px;
}

.description {
    flex: none;
    width: 90%; /* Sets a width to ensure it does not stretch too wide */
    padding: 20px;
    margin: 10px 0; /* Adjusts margin for top and bottom spacing */
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-size: 16px;
}

p{
    margin: 5px;
}

.tableau-viz {
    margin: 10px 0;
}

.navigation {
    text-align: center;
    margin-bottom: 20px;
}

.navigation a {
    padding: 8px 12px;
    text-decoration: none;
    color: #444;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.navigation a:hover {
    background-color: darkslateblue;
    color: white;
}

.carousel {
    margin: auto;
    max-width: 80%;
}

.carousel-inner img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}

.authors {
    font-size: 16px;
    margin-top: 0;
}

.viz-wrapper {
    margin-top: 20px;
    padding: 10px;
}

.viz-wrapper .row {
    align-items: center;
}

.viz-wrapper h2 {
    margin-top: 20px;
    color: #333;
}

.container .image-container {
    position: relative;
    width: fit-content;
    margin: auto;
    margin-top: 10px;
    display: block; /* Ensure this is block to center the container */
}

.container .image-container img {
    width: 40%; /* Adjust if needed */
    height: auto;
    display: block;
    margin: 0 auto; /* Centers the image within the container */
    border-radius: 8px;
}

.container .costume-overlay {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: auto;
    display: none;
}

.footer {
    background-color: black;
    color: antiquewhite;
    padding: 20px 0;
    text-align: center;
}
